---
layout: default
---

<!-- Main -->
<section id="main">
  <header>
    <span class="avatar"><img src="{{ site.baseurl }}/assets/img/profile.jpg" alt="" /></span>
    <h1>KYEONG-SEOB SIM</h1>
    <p>Software Developer</p>
  </header>
  <footer>
    <ul class="icons">
      <li><a href="https://profile.kssim.com" class="fa-user">Profile</a></li>
      <li><a href="https://blog.kssim.com" class="fa-bold">Blog</a></li>
      <li><a href="https://github.com/kssim" class="fa-github">Github</a></li>
    </ul>
  </footer>
</section>

<!-- Footer -->
<footer id="footer">
  <ul class="copyright">
    <li>&copy; 2018 KyeongSeob Sim</li>
  </ul>
</footer>


<!-- Scripts -->
<script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
</script>
